.post__container {
  max-width: 600px;
  margin: 30px auto 60px auto;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  .post__header {
    display: flex;
    align-items: center;
    padding: 16px;
    .post__avatar {
      margin-right: 14px;
    }
    h3 {
      font-size: 1rem;
    }
  }
  .post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
  }
  .post__footer {
    .post__text {
      padding: 10px 16px 10px 16px;
      strong {
        margin-right: 6px;
      }
    }
    .post__comments {
      padding: 0 16px 10px 16px;
      .post__comments--item {
        padding: 3px 0;
        .comment__time {
          font-size: 12px;
          color: gray;
          padding-left: 6px;
        }
      }
    }
    .post__comment {
      border-top: 1px solid #efefef;
      padding: 6px 16px;
      display: flex;
      .post__input {
        outline: none;
        flex: 1;
        border: none;
        font-size: 14px;
      }
      .post__button {
        font-weight: bold;
        flex: 0;
      }
    }
  }
}
